// variables
$white: #ffffff !default;
$black: #000000 !default;
$primary: #373737 !default;
$denim: #23123A !default;
$arctic: #59D8D1 !default;
$orange: #FA6E3D !default;
$blue: #1194F6 !default;
$stone: #7F949C !default;
$grey: #f1f5f8 !default;
$light-grey: #f0f2f3 !default;
